if item_list.length > 0
  table.table.table-bordered(alt='Requirements table to be completed by vendor')
    thead
      tr.active
        th.col-sm-6(scope='col') EN 301 549 (2018) clauses
        th.col-sm-4(scope='col') Determination of compliance
        th(scope='col') Supports?
        th.col-sm-4(scope='col') Explanation
    tbody
      each item in item_list
        tr
          td(valign='top')
            p
              strong #{item.number} #{item.name}
            | !{item.description}
          td(valign='top')
            p
              strong C.#{item.number} #{item.name}
            | !{item.compliance}
          td(valign='top')
            if item.informative || item.description.length === 0
              | ---
            else
              | &nbsp;
          td(valign='top')
            if item.informative || item.description.length === 0
              | ---
            else
              | &nbsp;
else
  p
    strong There are no functional accessibility requirements.