if item_list.length > 0
  table.table.table-bordered(alt='Table of EN 301 549 requirements and tests')
    thead
      tr.active
        th.col-sm-6(scope='col') EN 301 549 (2018) clauses
        th.col-sm-4(scope='col') Determination of compliance
    tbody
      each item in item_list
        tr
          td(valign='top')
            p
              strong #{item.number} #{item.name}
            | !{item.description}
          td(valign='top')
            p
              strong C.#{item.number} #{item.name}
            | !{item.compliance}
else
  p
    strong There are no functional accessibility requirements.