-var i = 0

mixin checkbox(label, name, onlyIf)
  if name === undefined
    -name = 'checkbox' + i++
  .checkbox
      label(for=name)
        input(id=name type='checkbox' name=name class=(onlyIf ? 'onlyIf' : false))
        | !{label}

section#wizard
  //- p
  //-   strong Instructions: 
  //-   | Check all that may apply to the ICT you are procuring.
  fieldset
    legend
      span.field-name L’approvisionnement en <abbr title="Technologies de l'information et de la communication">TIC</abbr> fournit-il ce qui suit :
    .row
      .col-md-6
        each preset, index in preset_list
          if index <= preset_list.length/2
            +checkbox(preset.frName, preset._id, preset.onlyIf)
      .col-md-6
        each preset, index in preset_list
          if index > preset_list.length/2
            +checkbox(preset.frName, preset._id, preset.onlyIf)

  //- Hidden data (for client-side javascript)
  .hidden#preset-data
    each preset in preset_list
      ul.preset(data-preset-id=preset._id)
        each clause in preset.clauses
          li !{clause._id}