-var i = 0

mixin checkbox(label, name)
  if name === undefined
    -name = 'checkbox' + i++
  .checkbox
      label(for=name)
        input(id=name type='checkbox' name=name)
        | !{label}

section#wizard
  //- p
  //-   strong Instructions: 
  //-   | Check all that may apply to the ICT you are procuring.
  fieldset
    legend
      span.field-name Does the <abbr title="Information Communication Technology">ICT</abbr> procurement provide...
    .row
      .col-md-6
        each preset in preset_list
          +checkbox(preset.name, preset._id)

  //- Hidden data (for client-side javascript)
  .hidden#preset-data
    each preset in preset_list
      ul.preset(data-preset-id=preset._id)
        each clause in preset.clauses
          li !{clause._id}